


<app-header></app-header>



<div class="flex items-center  bg-gray-50 dark:bg-gray-900">
    <div class="container mx-64">
        <div class=" bg-white p-5 rounded-md shadow-sm">
            <div class="text-center">
                <h1 class="my-3 text-3xl font-semibold text-gray-700 dark:text-gray-200">Enregistrer blog</h1>

            </div>
            <div class="m-7">
                <div class="-mx-3 md:flex mb-6">
                    <div class="flex flex-wrap justify-center">
                      <div class="w-6/12 sm:w-4/12 px-4" *ngIf="!afficher; else affi">
                        <img [(ngModel)]="blog.image" src="{{format+blog.image}}" alt="Selected Image" height="400" width="400">

                      </div>
                    </div>

                    <input [(ngModel)]="blog.image" type="file"  accept=".png, .jpg, .jpeg" (change)="handleFileInput($event.target.files)">
                  </div>

                    <div class="mb-6 flex flex-col">

                        <label for="titre" class="text-sm text-gray-600 dark:text-gray-400">Titre</label>
                        <input type="text" [(ngModel)]="blog.title" id="titre" placeholder="titr" required class="w-64 px-3 py-2 placeholder-gray-300 border border-gray-300 rounded-md focus:outline-none focus:ring focus:ring-indigo-100 focus:border-indigo-300 dark:bg-gray-700 dark:text-white dark:placeholder-gray-500 dark:border-gray-600 dark:focus:ring-gray-900 dark:focus:border-gray-500" />
                    </div>
                    <div class="mb-6">
                        <label for="desciption" class="block mb-2 text-sm text-gray-600 dark:text-gray-400">Description</label>

                        <textarea rows="9" [(ngModel)]="blog.content"id="description" placeholder="votre description" class="w-full px-3 py-2 placeholder-gray-300 border border-gray-300 rounded-md focus:outline-none focus:ring focus:ring-indigo-100 focus:border-indigo-300 dark:bg-gray-700 dark:text-white dark:placeholder-gray-500 dark:border-gray-600 dark:focus:ring-gray-900 dark:focus:border-gray-500" required></textarea>
                    </div>
                    <div class="mb-6 mx-64" *ngIf="!update; else updat">
                        <button (click)="envoye()" type="submit" class="w-full px-3 py-4 text-white bg-indigo-500 rounded-md focus:bg-indigo-600 focus:outline-none">Enregistrer</button>
                    </div>

            </div>
        </div>
    </div>
</div>

<ng-template #affi>
  <img [(ngModel)]="blog.image" src="{{ImageBaseData}}" alt="Selected Image" height="400" width="400">
</ng-template>

<ng-template #updat>
  <button (click)="envoye()"   class="py-3 px-12 bg-blue-800 text-white rounded-full font-bold text-lg mt-4" type="button" style="transition: all .15s ease" >
    Editer
  </button>

  <button   class="py-3 px-12 bg-blue-500 text-white rounded-full font-bold text-lg mt-4" type="button" style="transition: all .15s ease" >
    Annuler
  </button>
</ng-template>
